<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title><%= @config.application_name %> Instrumentation</title>
    <%= render partial: 'styles' %>
    <%= stylesheet_link_tag 'factory_bot_instrumentation/application',
                            media: 'all' %>
    <%= render 'factory_bot_instrumentation/styles' %>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
      <a class="navbar-brand" href="#">
        <%= @config.application_name %> Instrumentation
      </a>
      <ul class="navbar-nav mr-auto">
        <%= render 'factory_bot_instrumentation/navigation' %>
      </ul>
    </nav>
    <%= render partial: 'scripts' %>
    <%= render partial: 'config' %>
    <%= javascript_include_tag 'factory_bot_instrumentation/application' %>
    <%= render 'factory_bot_instrumentation/scripts' %>
    <main role="main" class="container">
      <%= yield %>
    </main>
  </body>
</html>
